{{define "pages/register.html"}}
{{template "parts/head.html" .}}
<body>
{{template "parts/navbar.html" .}}
<div class="container">

    <div class="row">
        <div class="col-lg-8">
            <div class="bs-component">
                <form title="Accept ToS" method="post" action="/register">
                    <fieldset>
                        <legend>Accepting the ToS and Privacy Policy</legend>
                        <input type="hidden" name="_csrf" value="{{ .Token }}">
                        <div class="form-group">
                            <div class="agree-control custom-checkbox">
                                <input type="checkbox" class="agree-control-input" name="accept" id="agreeCheck">
                                <label class="agree-control-label" for="agreeCheck">By checking the this checkbox you agree to the <a href="/privacy" target="_blank">privacy policy</a> and <a href="/tos" target="_blank">terms of services</a>.</label>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>

{{template "parts/footer.html" .}}
</div>
</body>
{{template "parts/end.html" .}}
{{end}}